<main class="body-create">

    <app-banner-crear [titulo]="textoCrear"></app-banner-crear>

    <article>
        <ngx-spinner bdColor="rgba(44,43,43,0.8)" size="default" color="#d36969" type="timer">
            <p style="color: white"> Cargando datos... </p>
        </ngx-spinner>


        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

            <article class="requeridos">

                <label>
                    <p class="label">Nombre de la ubicacion:</p>
                    <input type="text" appInput formControlName="ubicacion" placeholder="nombre de la ubicacion..">
                    <div
                        *ngIf="this.form.get('ubicacion').invalid && (this.form.get('ubicacion').dirty || this.form.get('ubicacion').touched)">

                        <div *ngIf="this.form.get('ubicacion').errors.required">
                            Debes seleccionar un nombre de ubicacion valido.
                        </div>
                    </div>
                </label>


                <label>
                    <input type="submit" class="btn" appSubmit [disabled]="form.invalid" value="Editar ubicacion">
                </label>

            </article>

        </form>


    </article>
</main>