<main class="body-create">

    <app-banner-crear [titulo]="textoCrear"></app-banner-crear>

    <article>
        <ngx-spinner bdColor="rgba(44,43,43,0.8)" size="default" color="#d36969" type="timer">
            <p style="color: white"> Cargando datos... </p>
        </ngx-spinner>


        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

            <article class="requeridos">

                <label>
                    <p class="label">Verifica tu identidad:</p>
                    <input type="password" appInput formControlName="password" placeholder="escribe tu password...">
                    <div
                        *ngIf="this.form.get('password').invalid && (this.form.get('password').dirty || this.form.get('password').touched)">

                        <div *ngIf="this.form.get('password').errors.required">
                            No has escrito tu password aun.
                        </div>
                    </div>
                </label>

                <label>
                    <input type="submit" class="btn" appSubmit [disabled]="form.invalid" value="Aprobar solicitud">
                </label>

            </article>

        </form>


    </article>
</main>