*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
    box-sizing: content-box;
    list-style: none;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    font-weight: normal;

}

