
//variables para el css

//color de fondo
$background: #F6F0E1;

//colores para el header
$gold: #EBC66F;
$gold-transparente: #EBC66FB3;
$gris-claro: #ccbcb2;

//colores para los botones
$gold-strong: #DDA625;
$gold-strong-hover: rgb(201, 153, 43);
$brown: #D3C29B;


//color para el texto
$text-gray: #707070;

//color de los enlaces
$enlace: #A32B28;
$enlace-hover: rgb(143, 37, 35);
