<main class="body-create">

	<app-banner-crear [titulo]="textoCrear"></app-banner-crear>

	<article>
		<ngx-spinner bdColor = "rgba(44,43,43,0.8)" size = "default" color = "#d36969" type = "timer" >
            <p style="color: white" > Cargando datos... </p>
    </ngx-spinner>
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" >

			<article class="requeridos">

				<label>
					<p class="label">Vehiculo elegido:</p>
					<select type="text" formControlName="vehiculo_id">
						<option id="seleccionado" selected>Selecciona un lugar:</option>
						<option *ngFor="let vehiculo of vehiculos" value="{{vehiculo.id}}">
							{{vehiculo.vehiculo}}
						</option>
					</select>
					<div
						*ngIf="this.form.get('vehiculo_id').invalid && (this.form.get('vehiculo_id').dirty || this.form.get('vehiculo_id').touched)">

						<div *ngIf="this.form.get('vehiculo_id').errors.required">
							Debes seleccionar un vehiculo.
						</div>

					</div>
				</label>

				<label>
					<p class="label">Departamento solcicitante:</p>
					<select type="text" formControlName="depto_solicitante">
						<option id="seleccionado" selected>Selecciona un lugar:</option>
						<option *ngFor="let departamento of departamentos" value="{{departamento.id}}">
							{{departamento.departamento}}
						</option>
					</select>
					<div
						*ngIf="this.form.get('depto_solicitante').invalid && (this.form.get('depto_solicitante').dirty || this.form.get('depto_solicitante').touched)">

						<div *ngIf="this.form.get('depto_solicitante').errors.required">
							Debes seleccionar un departamento.
						</div>

					</div>
				</label>


				<label>
					<p class="label">Fecha de realizacion:</p>
					<input type="date" formControlName="fecha" appInput placeholder="selecciona una fecha">
					<div
						*ngIf="this.form.get('fecha').invalid && (this.form.get('fecha').dirty || this.form.get('fecha').touched)">

						<div *ngIf="this.form.get('fecha').errors.required">
							La fecha es requerida.
						</div>

					</div>
				</label>

				<label>
					<p class="label">Hora de comienzo:</p>
					<input type="time" formControlName="hora_salida" appInput>
					<div
						*ngIf="this.form.get('hora_salida').invalid && (this.form.get('hora_salida').dirty || this.form.get('hora_salida').touched)">

						<div *ngIf="this.form.get('hora_salida').errors.required">
							La hora es requerida.
						</div>
					</div>
				</label>

				<label>
					<p class="label">Hora de finalizacion:</p>
					<input type="time" formControlName="hora_llegada" appInput>
					<div
						*ngIf="this.form.get('hora_llegada').invalid && (this.form.get('hora_llegada').dirty || this.form.get('hora_llegada').touched)">

						<div *ngIf="this.form.get('hora_llegada').errors.required">
							La hora es rquerida.
						</div>
					</div>
				</label>
			</article>

			<label class="titulo-opcional">
				<p class="label">Datos opcionales:</p>
				<p>Estos datos puedes dejarlos vacios y mas tarde rellenarlos.</p>
			</label>

			<article class="opcionales">

				<label id="titulo">
					<p class="label">Chofer:</p>
					<input type="text" formControlName="chofer" appInput placeholder="escriba un nombre..">

				</label>

				<label id="titulo">
					<p class="label">Destino:</p>
					<input type="text" formControlName="destino" appInput placeholder="describa el destino..">
				</label>

				<label>
					<p class="label">Descripcion:</p>
					<textarea type="text" formControlName="descripcion" appTextarea
						placeholder="actividades a realizar..">
					</textarea>

				</label>
			</article>

			<article class="seccion-submit">
				<label *ngIf="!loading">
					<input type="submit" class="btn" appSubmit [disabled]="form.invalid" value="Crear Solicitud">
				</label>
	
				<p class="aviso">
					Las solicitudes que estes creando seran revisadas y se mantendran en estado "pendiente" hasta que la
					junta administrativa revise y decida aceptar la solicitud.
				</p>

			</article>



		</form>

	</article>
</main>