

.body-departamentos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10em 650px;
    min-height: 70vh;

    app-banner-crear{
        grid-column: 1/span 2;
        grid-row: 1/2;
    }
    .elementos{
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3em repeat(6, 6em);
        padding: 2em;
        grid-gap: 1em;
        overflow-y: hidden;
        

        article{
            display: grid;
            grid-template-columns: 1fr 6em;
            grid-template-rows: 1fr;
            padding:.8em;
            background-color: #ecd1b9;
            border-radius: 5px;
            height: 5em;
            box-shadow: 1px 1px 1px  #d7a682;
            font-size: 1.2em;
            box-sizing: border-box;
            grid-gap: 1em;
            margin-bottom: 2em;
     
            &:hover{
                transition: .2s;
                background-color: #ecc6a4;
            }

            &:first-child{
                height: 3em;
                cursor: pointer;
                text-align: center;

                &:hover{
                    transition: .5s;
                    color: black;
                }
            }

            section{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 1em;

                &:hover{
                    transition: .5s;
                    transform: translate(5px, 0);
                    cursor: pointer;
                }

                &:last-child{
                    padding: .7em;
                    font-size: .8em;
                    justify-content: center;
                    background-color: transparent;
                    border: 1px solid rgb(136, 133, 133);
                    cursor: pointer;
                    border-radius: 5px;

                    &:hover{
                        transition: .2s;
                        background-color: rgb(185, 175, 175);
                        color: black;
                        transform: none;
                        text-decoration: none;
                    }
                }
            }

        }
        

    }

    .default{
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 530px;
        background-color: transparent;
        padding: 3em;
        margin: 3em;
        margin-top: 1.8em;
        padding-top: 1.5em;
        font-size: 1.4em;

    }

    .detalle{
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 1fr 1fr 1fr 1fr;
        grid-gap: .4em;
        padding: 4em;
        margin: 4em;
        margin-top: 1.8em;
        padding-top: 1.5em;
        height: 530px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgb(206, 205, 205);
        background-image: linear-gradient(#EEDF99, #F2F8C9);

        p{
            font-size: 1.2em;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:.5em;
            border-radius: 5px;
            background-color: #b4b9b92e;
            box-shadow: 1px 1px 1px #C4C1C1;

            &:nth-child(1), &:nth-child(2){
                grid-column: 1/span 2;
            }

        }
        
    }

    .formulario{
        grid-column: 2/3;
        grid-row: 2/3;

        form{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 1em;
            padding: 4em;
            margin: 4em;
            margin-top: 1.8em;
            padding-top: 1.5em;
            height: 550px;
            border-radius: 5px;
            box-shadow: 1px 1px 1px rgb(206, 205, 205);
            background-image: linear-gradient(#EEDF99, #F2F8C9);

            label{
                height: 4em;

                &:last-child{
                    text-align: center;
                    p{
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 3em;
                        border-radius: 5px;
                        background-color: transparent;
                        bordeR: 1px solid gray;

                        &:hover{
                            background-color: #b4b9b92e;
                        }
                    }
                }



                input{
                    font-size: 1.2em;
                    height: 2.5em;
                }
                select{
                    
                    font-size:1.5;
                    height: 4em;

                    option{
                        font-size: 1.5em;
                    }
                }


            }
        }
    }
}