<main class="body-ver">

    <app-banner-crear [titulo]="textoCrear"></app-banner-crear>

    <ngx-spinner bdColor="rgba(44,43,43,0.8)" size="default" color="#d36969" type="timer">
        <p style="color: white"> Cargando datos... </p>
    </ngx-spinner>

    <div class="container">

        <app-solicitud-box [evento]="evento" [fecha]="fecha"></app-solicitud-box>


        <div class="datos">
            <div class="departamento">
                <app-solicitud-card [title]="departamento_text" [description]="evento.departamento.departamento"></app-solicitud-card>
            </div>

            <div class="evento">
                <app-solicitud-card [title]="evento_text" [description]="evento.espacio.espacio"></app-solicitud-card>

            </div>

            <div>
                <app-solicitud-card [title]="user_text" [description]="evento.user.name +' ' +evento.user.surname"></app-solicitud-card>
            </div>

            <div>
                <app-button (click)="showPdf()" [text]="generar_pdf"></app-button>
                <app-button (click)="downloadPdf()" [text]="descargar_pdf"></app-button>
            </div>
        </div>

        <app-solicitud-botones [evento]="evento"></app-solicitud-botones>

    </div>

    <div class="pendiente" *ngIf="admin">
        <p>
            La solicitud aún esta pendiente de aceptación, espere a que el usuario administrador le acepte para generar
            el pdf.
        </p>
    </div>

    
    <div class="pendiente" *ngIf="!admin">
            <p>
                Puede generar un pdf de esta solicitud y descargarla para su posterios uso en el departamento.
            </p>
    
    </div>

    <app-card-carrousel [eventos]="eventos"></app-card-carrousel>

</main>