<main class="body-perfil">
    <app-banner-crear [titulo]="title">

    </app-banner-crear>
    <div>
        <article class="article">
            <div class="section-banner">
                <img *ngIf="identity.imagen" src="{{url + 'user/avatar/' + identity.imagen}}">
                <img *ngIf="!identity.imagen" src="../../../assets/img/default_profile.png">
                <h3>{{identity.nombre}} {{identity.apellidos}}</h3>
                <p *ngIf="identity.descripcion">{{identity.descripcion}}</p>
                <p *ngIf="!identity.descripcion">edita tu perfil para que puedas agregar una descripcion breve sobre ti</p>
            </div>

            <div class="section-info">
                <p>DEPARTAMENTO:</p> 
                <p>el departamento es este</p>
                <p>PUESTO:</p>
                <p>general </p>
                <p>NUMERO DE CONTROL:</p> 
                <p>{{logueado.control_number}}</p>
                <p>CORREO ELECTRONICO:</p>
                <p>{{identity.email}}</p>
                <p>NUMERO TELEFONICO:</p> 
                <p>3423423423</p>
                <div class="submit">
                    <p class=" btn" appSubmit [routerLink]="['/perfil/editar']">editar mi perfil</p>
                </div>
            </div>
                
        </article>
    </div>

</main>
 