<main class="body-perfil">
    <app-banner-crear [titulo]="title">
 
    </app-banner-crear>
    <div>
        <article class="article">
            <div class="section-banner">
                <img *ngIf="identity.image" src="{{url + 'user/avatar/' + identity.imagen}}">
                <img *ngIf="!identity.image" src="../../../assets/img/articles-57236_img_destacada.png">
                <h3>{{identity.name}} {{identity.surname}}</h3>
                <p *ngIf="identity.description">{{identity.description}}</p>
                <p *ngIf="!identity.description">Edite su perfil para que pueda agregar una descripción breve sobre usted.</p>
            </div>

            <div class="section-info">
                <p>Departamento:</p> 
                <p>El departamento.</p>
                <p>Puesto:</p>
                <p>General </p>
                <p>Número de control:</p> 
                <p>{{logueado.control_number}}</p>
                <p>Correo electrónico:</p>
                <p>{{identity.email}}</p>
                <p>Número Telefónico:</p> 
                <p *ngIf="identity.phone">{{identity.phone}}</p>
                <p *ngIf="!identity.phone">No ha agregado su número.</p>
                <div class="submit">
                    <p class=" btn" appSubmit [routerLink]="['/perfil/editar']">Editar Perfil</p>
                </div>
            </div>
                
        </article>
    </div>

</main>
 