<main class="body-create">

    <app-banner-crear [titulo]="textoCrear"></app-banner-crear>

    <article>
        <ngx-spinner bdColor="rgba(44,43,43,0.8)" size="default" color="#d36969" type="timer">
            <p style="color: white"> Cargando datos... </p>
        </ngx-spinner>

   
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

            <article class="requeridos">

                <label>
                    <p class="label">Nombre del Vehículo:</p>
                    <input type="text" appInput formControlName="vehiculo" placeholder="Nombre del Vehículo..">
                    <div
                        *ngIf="this.form.get('vehiculo').invalid && (this.form.get('vehiculo').dirty || this.form.get('vehiculo').touched)">

                        <div *ngIf="this.form.get('vehiculo').errors.required">
                           Debe seleccionar un Vehículo.
                        </div>

                    </div>
                </label>

                <label>
                    <p class="label">Marca del Vehículo:</p>
                    <input type="text" appInput formControlName="marca" placeholder="Marca del Vehículo..">
                    <div
                        *ngIf="this.form.get('marca').invalid && (this.form.get('marca').dirty || this.form.get('marca').touched)">

                        <div *ngIf="this.form.get('marca').errors.required">
                            Debe seleccionar un departamento.
                        </div>

                    </div>
                </label>

                <label>
                    <p class="label">Número de placas:</p>
                    <input type="text" appInput formControlName="placas" placeholder="Número de placas...">
                    <div
                        *ngIf="this.form.get('placas').invalid && (this.form.get('placas').dirty || this.form.get('placas').touched)">

                        <div *ngIf="this.form.get('placas').errors.required">
                            La fecha es requerida.
                        </div>

                    </div>
                </label>


                <label>
                    <p class="label">Estado del kilometraje:</p>
                    <input type="text" appInput formControlName="kilometraje" placeholder="Cantidad de kilometraje...">
                    <div
                        *ngIf="this.form.get('kilometraje').invalid && (this.form.get('kilometraje').dirty || this.form.get('kilometraje').touched)">

                        <div *ngIf="this.form.get('kilometraje').errors.required">
                            La hora es requerida.
                        </div>
                    </div>
                </label>

                <label>
                    <p class="label">Status del vehiculo:</p>
                    <select formControlName="status_id" appInput>
                        <option selected>Selecciona un status:</option>
                        <option *ngFor="let status of statusvehiculos" value="{{status.id}}">{{status.status}}</option>
                    </select>

                    <div
                        *ngIf="this.form.get('status_id').invalid && (this.form.get('status_id').dirty || this.form.get('status_id').touched)">

                        <div *ngIf="this.form.get('status_id').errors.required">
                            La hora es rquerida.
                        </div>
                    </div>
                </label>

                <label>
                    <input type="submit" class="btn" appSubmit [disabled]="form.invalid" value="Actualizar Vehículo">
                </label>

            </article>

        </form>


    </article>
</main>