<main class="body-create">

	<app-banner-crear [titulo]="textoCrear"></app-banner-crear>

	<article>
		<ngx-spinner bdColor = "rgba(44,43,43,0.8)" size = "default" color = "#d36969" type = "timer" >
            <p style="color: white" > Cargando datos... </p>
    </ngx-spinner>
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

			<article class="requeridos">

				<label id="titulo">
					<p class="label">Tipo:</p>
					<select type="text" formControlName="tipo">
						<option>Interno</option>
						<option>Externo</option>
					</select>
					<div
						*ngIf="this.form.get('tipo').invalid && (this.form.get('tipo').dirty || this.form.get('tipo').touched)">

						<div *ngIf="this.form.get('tipo').errors.required">
							Debe selecciona una opción.
						</div>

					</div>

				</label>

				<label>
					<p class="label">Asignado a:</p>
					<select type="text" formControlName="asignado_a">
						<option>Interno</option>
						<option>Externo</option>
					</select>

					<div
						*ngIf="this.form.get('asignado_a').invalid && (this.form.get('asignado_a').dirty || this.form.get('asignado_a').touched)">

						<div *ngIf="this.form.get('asignado_a').errors.required">
							Debe seleccionar una opción.
						</div>

					</div>

				</label>

				<label>
					<p class="label">Trabajo realizado:</p>
					<input type="text" appInput formControlName="trabajo_realizado" placeholder="trabajo realizado">
					<div
					*ngIf="this.form.get('trabajo_realizado').invalid && (this.form.get('trabajo_realizado').dirty || this.form.get('trabajo_realizado').touched)">

					<div *ngIf="this.form.get('trabajo_realizado').errors.required">
						Debe escribir el trabajo realizado.
					</div>

				</div>
				</label>

				<label>
					<p class="label">Servicio:</p>
					<select type="text" formControlName="servicio_id">
						<option id="seleccionado" selected>Selecciona un servicio:</option>
						<option *ngFor="let statusorder of statusorders" value="{{statusorder.id}}">
							{{statusorder.status}}
						</option>
					</select>
					<div
					*ngIf="this.form.get('servicio_id').invalid && (this.form.get('servicio_id').dirty || this.form.get('servicio_id').touched)">

					<div *ngIf="this.form.get('servicio_id').errors.required">
						Debe seleccionar una opción.
					</div>

				</div>
				</label>

				<label>
					<p class="label">Departamento solicitante:</p>
					<select type="text" formControlName="depto_solicitante">
						<option id="seleccionado" selected>Selecciona un lugar:</option>
						<option *ngFor="let departamento of departamentos" value="{{departamento.id}}">
							{{departamento.departamento}}
						</option>
					</select>
					<div
					*ngIf="this.form.get('depto_solicitante').invalid && (this.form.get('depto_solicitante').dirty || this.form.get('depto_solicitante').touched)">

					<div *ngIf="this.form.get('depto_solicitante').errors.required">
						Debe seleccionar un departamento.
					</div>

				</div>
				</label>


				<label>
					<p class="label">Fecha de realización:</p>
					<input type="date" appInput placeholder="selecciona una fecha" formControlName="fecha">
					<div
						*ngIf="this.form.get('fecha').invalid && (this.form.get('fecha').dirty || this.form.get('fecha').touched)">

						<div *ngIf="this.form.get('fecha').errors.required">
							Debe seleccionar una fecha
						</div>

					</div>
				</label>

				<label>
					<p class="label">Hora de comienzo:</p>
					<input type="time" appInput formControlName="hora_inicio">
					<div
						*ngIf="this.form.get('hora_inicio').invalid && (this.form.get('hora_inicio').dirty || this.form.get('hora_inicio').touched)">

						<div *ngIf="this.form.get('hora_inicio').errors.required">
							Debes seleccionar una hora.
						</div>

					</div>
				</label>

				<label>
					<p class="label">Hora de finalización:</p>
					<input type="time" appInput formControlName="hora_final">
				
				<div
				*ngIf="this.form.get('hora_final').invalid && (this.form.get('hora_final').dirty || this.form.get('hora_final').touched)">

				<div *ngIf="this.form.get('hora_final').errors.required">
					Elija una hora.
				</div>

			</div>
		</label>

			</article>

			<label class="titulo-opcional">
				<p class="label">Datos opcionales:</p>
				<p>Estos datos puede dejarlos vacíos y mas tarde rellenarlos.</p>
			</label>

			<article class="opcionales">
				<label>
					<p class="label">Equipo de proteccion personal:</p>
					<textarea type="text" formControlName="equipo_proteccion" appTextarea
						placeholder="selecciona el equipo requerido..">
				</textarea>
				</label>
			</article>



			<article class="seccion-submit">
				<label *ngIf="!loading">
					<input type="submit" class="btn" appSubmit [disabled]="form.invalid" value="Actualizar Solicitud">
				</label>


				<p class="aviso">
					Las solicitudes que esté creando serán revisadas y se mantendrán en estado "pendiente" hasta que la junta administrativa revise y decida aceptar la solicitud.
				</p>

			</article>

		</form>
	</article>
</main>