<main class="body-create">

    <app-banner-crear [titulo]="textoCrear"></app-banner-crear>

    <article>
        <ngx-spinner bdColor="rgba(44,43,43,0.8)" size="default" color="#d36969" type="timer">
            <p style="color: white"> Cargando datos... </p>
        </ngx-spinner>


        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

            <article class="requeridos">

                <label>
                    <p class="label">Nombre del Status:</p>
                    <input type="text" appInput formControlName="status" placeholder="Nombre del Status..">
                    <div
                        *ngIf="this.form.get('status').invalid && (this.form.get('status').dirty || this.form.get('status').touched)">

                        <div *ngIf="this.form.get('status').errors.required">
                            Debe seleccionar un nombre de Status válido.
                        </div>
                    </div>
                </label>


                <label>
                    <input type="submit" class="btn" appSubmit [disabled]="form.invalid" value="Editar status de Vehículos">
                </label>

            </article>

        </form>


    </article>
</main>