//variables css
$form-background: #F5F0DC;
$form-title-color: #802434;
$form-url-color: #2083a2;
$form-color-border: #d4cccd;
$box-shadow: 0 1px 0 0 rgba(66,118,146,.1),0 2px 6px 0 rgba(66,118,146,.1);
$button-background-hover: #f0acb7;
$input-color-border: #b4aaaa;

*, input{
	border: 0px;
	padding: 0px;
	margin: 0px;
	
}

#Login-form{
    display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 1em 1fr;
    margin-top: 1.5em;
	margin-bottom: 2em;
	justify-content: center;
	min-height: 100vh;

	
	.container-form{
		display: grid;
		grid-template-columns: 1fr 440px 1fr;
		grid-template-rows: 480px 1.6em 1fr;

		@media (max-width: 475px){
            grid-template-columns: 1em 1fr 1em;
        }
					
		

		.forgot{
			grid-column: 2/3;
			grid-row: 4/5;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.2em;
			color: $form-title-color;
			font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;

			span{
				padding: .5em;
				color: $form-url-color;
				cursor: pointer;
			}
			
		}

		form{
			grid-column: 2/3;
			grid-row: 1/ 2;
			display: grid;
			width: 100%;
			grid-template-columns: 1fr;
			grid-template-rows: 5em 3.5em 1fr 1fr 1fr 1fr 1fr;
			justify-content: center;
			align-items: center;
			font-size: 1.5em;
			background-color: $form-background;
			border-radius: 10px;
			box-shadow: $box-shadow;
			padding:  2em 1em 3em 1em;
			border: 1px solid $form-color-border;

			
			.form-title{
				font-weight:bold;
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
                font-weight: normal;
				color: $form-title-color;
				padding: 0;
				margin: 0;
			}

			div{	
				grid-column: 1/2;
				grid-row: 1/ 2;
				display: flex;
				justify-content: center;
				align-items: center;
				
				img{
					width: 4em;
				  }
				}

			.error{
				font-weight:bold;
				grid-column: 1/2;
				grid-row: 5/6;
				color: black;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 2em;
				width: 100%;
				border-radius: 10px;
	
				p{
					font-weight:bold;
					display: flex;
					justify-content: center;
					background-color: #e33653;
					width: 24em;
					height: 2.5em;
					border-radius: 10px;

				}
			}
			p{
				grid-column: 1/2;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 4em;
				font-size: .8em;
				margin-bottom: .8em;
	
				input{				
					display: flex;
					background-color: transparent;
					border: 1px solid $input-color-border;
					height: 2.5em;
					padding: 0.3em;
					margin-bottom: 1.2em;

					&:focus{
						border: 1px solid black;
					}
	
				} 
	
				#boton{
					font-family: Arial, Helvetica, sans-serif;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 1px solid #9F3133;
					border-radius: 13px;
					background: transparent;
					width: 8em;
					width: 24em;
					margin-top: 1.5em;

					
					@media (max-width: 475px){
						width: 100%;
					}
				
	
					&:hover{
						transition: .8s;
						background-color: $button-background-hover;
						cursor: pointer;
	
					}
				}          
	
			}

	}

		small{
			position: absolute;
			margin-top: 1.8em;
			padding-top: 2em;
			color: #802434;
			display: flex;
		}

    }	
    
    
}






