<div id="Login-form">

	<div class="container-form">
		<ngx-spinner bdColor = "rgba(44,43,43,0.8)" size = "default" color = "#d36969" type = "timer" >
            <p style="color: white" > cargando datos... </p>
    </ngx-spinner>
	
		<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
			<div><img src="../assets/img/logo.png" alt="logo" /></div>
			<p class="form-title"> Iniciar Sesión </p>
			<p>

				<input id="user" appInput placeholder="Correo" formControlName="email" type="email" />
				<small *ngIf="this.form.get('email').invalid && (this.form.get('email').dirty || this.form.get('email').touched)">
					<div *ngIf="this.form.get('email').errors.email">
						El correo electornico no es valido.
					</div>
				</small>

			</p>
  
			<p>
				<input id="contras" appInput  placeholder="Contraseña" formControlName="password" type="password"
					name="contrasena"/>
					<small *ngIf="this.form.get('password').invalid && (this.form.get('password').dirty || this.form.get('password').touched)">

						<div *ngIf="this.form.get('password').errors.required">
							Necesitas introducir una password
						</div>
						<div *ngIf="this.form.get('password').errors.minlength">
							La pasword debe tener al menos 5 caracteres.
						</div>
		
					</small>

			</p>
			<p>
				<input id="boton" class="btn" appSubmit  type="submit" value="Dame acceso" [disabled]="form.invalid" />
			</p>
			
			
		</form>
		
		<p class="forgot">Aun no te registras? <span [routerLink]="['/registro']"> Haz click aqui </span></p>
	</div>

</div>