<div class="botones" *ngIf="evento">
    <p [routerLink]="['/eventos/actualizar/'+ evento.id]">actualizar solicitud</p>
    <p>verificar solicitud</p>
    <p>aprobar solicitud</p>
</div>

<div class="botones" *ngIf="mantenimiento">
    <p [routerLink]="['/mantenimiento/actualizar/'+ mantenimiento.id]">actualizar solicitud</p>
    <p>verificar solicitud</p>
    <p>aprobar solicitud</p>
</div>

<div class="botones" *ngIf="salida">
    <p [routerLink]="['/salidas/actualizar/'+ salida.id]">actualizar solicitud</p>
    <p>verificar solicitud</p>
    <p>aprobar solicitud</p>
</div>

<div class="botones" *ngIf="vehiculo">
    <p [routerLink]="['/vehiculos/actualizar/'+ vehiculo.id]">actualizar vehiculo</p>
    <p>verificar vehiculo</p>
    <p>aprobar vehiculo</p>
</div>

<div class="botones" *ngIf="departamento">
    <p [routerLink]="['/departamentos/actualizar/'+ departamento.id]">actualizar departamento</p>
    <p>verificar departamento</p>
    <p>aprobar departamento</p>
</div>  