<main class="body-solicitudes">

    <app-banner-crear [titulo]="textoCrear"></app-banner-crear>

    <ngx-spinner bdColor = "rgba(44,43,43,0.8)" size = "default" color = "#d36969" type = "timer" >
        <p style="color: white" > Cargando datos... </p>
</ngx-spinner>

    <div class="header">
        <app-button [text]="mesAnterior" (click)="prevMonth()"></app-button>
        <h3>Solicitudes del mes de {{mesActual}}</h3>
        <app-button [text]="mesSiguiente" (click)="nextMonth()"></app-button>
    </div>



    <div class="salidas">
        <div *ngFor="let salida of salidas">
            <p>Fecha: <span>{{salida.fecha}}</span></p>
            <p>Hora de salida: <span>{{salida.hora_salida}}</span></p>
            <p>Departamento solicitante: <span>{{salida.depto_solicitante}}</span></p>
            <p *ngIf="salida.destino">Lugar: <span>{{salida.destino}}</span></p>
            <p *ngIf="!salida.destino">Lugar: <span>No hay destino asignado aún</span></p>
            <p>Vehículo: <span>{{salida.vehiculo_id}}</span></p>
            <p *ngIf="salida.chofer">Chofer: <span>{{salida.chofer}}</span></p>
            <p *ngIf="!salida.chofer">Chofer: <span>No hay chofer asignado aún</span></p>
            
        </div>
    </div>
    
    <app-stats></app-stats>
        

</main>