<main class="body-solicitudes">

    <app-banner-crear [titulo]="textoCrear"></app-banner-crear>

    <ngx-spinner bdColor = "rgba(44,43,43,0.8)" size = "default" color = "#d36969" type = "timer" >
        <p style="color: white" > Cargando datos... </p>
</ngx-spinner>

    <app-card-grid [vehiculos]="transportes"></app-card-grid>

    <div class="filtrado">
        <h2>Filtrar solicitudes por: </h2>
        <select appInput>
            <option>Seleccione:</option>
            <option>Recientes</option>

        </select>      
    </div>

    <div class="pagination">
        <div>
            <P>Página Anterior</P>
            <p>Página 1 de 1</p>
            <P>Página Siguiente</P>
        </div>
    </div>

    <app-stats></app-stats>
        

</main>
