<div class="list" *ngIf="eventos">
    <app-card *ngFor="let evento of eventos" [evento]="evento"></app-card>
</div>

<div class="list" *ngIf="mantenimientos">
    <app-card *ngFor="let mantenimiento of mantenimientos" [mantenimiento]="mantenimiento"></app-card>
</div>

<div class="list" *ngIf="salidas">
    <app-card *ngFor="let salida of salidas" [salida]="salida"></app-card>
</div>

<div class="list" *ngIf="vehiculos">
    <app-card *ngFor="let vehiculo of vehiculos" [vehiculo]="vehiculo"></app-card>
</div>

<div class="list" *ngIf="departamentos">
    <app-card *ngFor="let departamento of departamentos" [departamento]="departamento"></app-card>
</div>

<div class="list" *ngIf="cargos">
    <app-card *ngFor="let cargo of cargos" [cargo]="cargo"></app-card>
</div>

<div class="list" *ngIf="permisos">
    <app-card *ngFor="let permiso of permisos" [permiso]="permiso"></app-card>
</div>

<div class="list" *ngIf="subdirecciones">
    <app-card *ngFor="let subdireccion of subdirecciones" [subdireccion]="subdireccion"></app-card>
</div>

<div class="list" *ngIf="espacios">
    <app-card *ngFor="let espacio of espacios" [espacio]="espacio"></app-card>
</div>

<div class="list" *ngIf="statusvehiculos">
    <app-card *ngFor="let statusvehiculo of statusvehiculos" [statusvehiculo]="statusvehiculo"></app-card>
</div>

<div class="list" *ngIf="statusorders">
    <app-card *ngFor="let statusorder of statusorders" [statusorder]="statusorder"></app-card>
</div>

<div class="list" *ngIf="ubicaciones">
    <app-card *ngFor="let ubicacion of ubicaciones" [ubicacion]="ubicacion"></app-card>
</div>