<div class="list" *ngIf="eventos">
    <app-card *ngFor="let evento of eventos" [evento]="evento"></app-card>
</div>

<div class="list" *ngIf="mantenimientos">
    <app-card *ngFor="let mantenimiento of mantenimientos" [mantenimiento]="mantenimiento"></app-card>
</div>

<div class="list" *ngIf="salidas">
    <app-card *ngFor="let salida of salidas" [salida]="salida"></app-card>
</div>

<div class="list" *ngIf="vehiculos">
    <app-card *ngFor="let vehiculo of vehiculos" [vehiculo]="vehiculo"></app-card>
</div>

<div class="list" *ngIf="departamentos">
    <app-card *ngFor="let departamento of departamentos" [departamento]="departamento"></app-card>
</div>

<div class="list" *ngIf="cargos">
    <app-card *ngFor="let cargo of cargos" [cargo]="cargo"></app-card>
</div>