//ESTILOS UNICOS DEL COMPONENTE
.body-app{
    background-color: #F5EBBD;
    background-color: #F2EEE2;
    background: linear-gradient(#FCEECB, #F2EEE2 );
    background: linear-gradient( #F2EEE2, #FCEECB);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:5em 1fr ;
    min-height: 100vh;


    #header-nolog{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #9F3133;
        height: 4.5em;
        display: grid;
        grid-template-columns: 1fr 25em;
        grid-template-rows: 5em;
        position: fixed;
        width: 100%;
        h1{
            font-size: 22px;
            font-weight: normal;
            padding-left: 1em;
            color: #F5D588 ;
            margin-top: 17px;

            strong{

            }
        }
        .Crea-cuenta{

            display: flex;
            justify-content: center;
            align-items: center;
            grid-gap: .4em; 
           

            p{
                border: 1px solid #F5D588  ;
                border-radius: 13px;
                color:  #F5D588 ;
                text-align: center;
                padding: 0.5em;
                cursor: pointer;

                &:hover{
                    transition: .8s;
                    color:#9F3133 ;
                   background-color: #F5D588; 
                }
        }

             


        }

    }
    #header-silog{        
        display:grid;
        grid-template-columns: 4em 1fr 10em;
        grid-template-rows: 5em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #F7F7F7;
        border: 1px solid #C1BDBD;
        border-width: 0px 0px 1px 0px;
        padding-left: 6em;
        padding-right: 6em;
        height: 5em;
        position: fixed;
        width: 100%;

        div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            img{
                width: 100%;
                margin-right: 1em;
            }

        }

        ul{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            grid-gap: 1em;

            .li-crear{
                width: 9em;
            }

            li{
                font-size: 1.2em;
                width: 5em;
                cursor: pointer;


                &:hover{
                    color: black;
                    text-decoration: underline;
                }

                .submenu-panel, .submenu-crear{
                    position: absolute;
                    background-color: #F7F7F7;
                    width: 10em;
                    height: 8em;
                    font-size: .8em;
                    padding: .5em;                    
                    box-shadow: 1px 1px 1px #E2E2E2; 
                    border-width: 0px 2px 2px 2px;
                    border-radius: 10px;
                    cursor: pointer;

                    li{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        &:hover{
                            color: #DA2643;
                            text-decoration: underline;
                        }
                    }
                }

                .submenu-crear{
                    margin-left: 3em;
                    margin-top: 1em;
                    cursor: pointer;

                }

                .submenu-panel{
                    margin-left: -1em;
                    margin-top: 1.3em;
                }

                a{
                    color: black;
                }

            }
        }

        .div-user{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border-radius: 7px;


                &::after{
                    content: url('../assets/img/Icon ionic-ios-arrow-down.png');
                    display:block;
                    position: absolute;
                    margin-left: 5.5em;
                    width: .2em;


                }

            img{
                width: 4em;
                border: ipx solid #C1BDBD;

                &:hover{
                    transition: .4s;
                    transform: scale(1.1,1.1);
                }


                
            }

            .submenu-user{
                position: absolute;
                background-color: #F7F7F7;
                width:11em;
                height: 16em;
                padding: .4em;
                margin-top: 22em;
                box-shadow: 1px 1px 1px #E2E2E2; 
                border-width: 0px 2px 2px 2px;
                border-radius: 10px;
                cursor: pointer;
                margin-left: 2.4em;

                hr{
                   border: 1px solid #E2E2E2;
                }

                p{
                    text-align: center;
                    width: 100%;

                    &:hover{
                        text-decoration: underline;
                    }

                    a{
                        color: black;
                    }
                }
               
            }

            .hide{
                display: none;
            }

            .show{
                display: block;
            }
        }
        
    }

    
}

