<main class="body-app">
    <header id="header-nolog" *ngIf="!identity" >
        <h1>Recursos materiales y servicios</h1>
        <div class="Crea-cuenta">
        <p  [routerLink]="['/login']">iniciar sesion</p>
        <p [routerLink]="['/registro']">Crear Cuenta</p>
        </div>
    </header>


    <header id="header-silog" *ngIf="identity && identity.name">
        <div></div>
        <ul>
            <li><a [routerLink]="['/inicio']">Inicio</a></li>
            <li (click)="showMenuPanel()">Panel

                <ul *ngIf="submenu_panel == true" class="submenu-panel show">
                    <li [routerLink]="['/eventos']">Eventos</li>
                    <li [routerLink]="['/mantenimiento']">Mantenimiento</li>
                    <li [routerLink]="['/salidas']">Salidas</li>
                </ul>

                 <ul *ngIf="submenu_panel == false"  class="submenu-panel hidden">
                    <li [routerLink]="['/eventos']">Eventos</li>
                    <li [routerLink]="['/mantenimiento']">Mantenimiento</li>
                    <li [routerLink]="['/salidas']">Salidas</li>
                </ul>
            </li>

            <li class="li-crear" (click)="showMenuCrear()">Crear solicitudes
                <ul *ngIf="submenu_crear == true" class="submenu-crear show">
                    <li [routerLink]="['/eventos/crear']">Eventos</li>
                    <li [routerLink]="['mantenimiento/crear']">Mantenimiento</li>
                    <li [routerLink]="['/salidas/crear']">Salidas</li>
                </ul>

                <ul *ngIf="submenu_crear == false" class="submenu-crear hidden">
                    <li [routerLink]="['/eventos/crear']">Eventos</li>
                    <li [routerLink]="['mantenimiento/crear']">Mantenimiento</li>
                    <li [routerLink]="['/salidas/crear']">Salidas</li>
                </ul>
            </li> 
            <li></li>
        </ul>
        <div class="div-user" (click)="showMenuUser()">
            <img *ngIf="identity.image" src="{{url + 'user/avatar/' + identity.image}}" /> 

            <img *ngIf="!identity.image"  src="../assets/img/default_profile.png" />        
        

            <div *ngIf="submenu_user == true" class="submenu-user show">
                <p><strong>{{identity.name}}</strong></p>
                <p><strong>{{identity.surname}}</strong></p>
                <hr/>
                <p [routerLink]="['/perfil']">Perfil</p>
                <p [routerLink]="['/perfil/editar']">Editar Perfil</p>
                <p [routerLink]="['/perfil/solicitudes']">Mis solicitudes</p>
                <p [routerLink]="['/logout/1']">cerrar sesion</p>
            </div>

            <div *ngIf="submenu_user == false" class="submenu-user hidden">
                <p>{{identity.name}}</p>
                <p>{{identity.surname}}</p>
                 <hr/>
                <p [routerLink]="['/perfil']">Perfil</p>
                <p [routerLink]="['/perfil/editar']">Editar Perfil</p>
                <p [routerLink]="['/perfil/solicitudes']">Mis solicitudes</p>
                <p [routerLink]="['/logout/1']">cerrar sesion</p>
            </div>
        </div>


    </header>

    
    <router-outlet (activate)="onActivate($event, outlet)" #outlet>

    </router-outlet>

    <footer>
        <p> Instituto Tecnológico de Matamoros</p>
        <p>Carr. Lauro Villar K.M. 6.5</p>
        <p>8688140952 y 8688140953</p>
        <p>C.P. 87490 H. Matamoros, México.</p>
    </footer>
</main>


