<main class="body-app">
    <header id="header-nolog" *ngIf="!identity" >
        <h1><strong>TEC MATERIALES:</strong> Organiza tus eventos, solicitudes y recursos del itm.</h1>
        <div class="Crea-cuenta">
        <p [routerLink]="['/registro']">Crear Cuenta</p>
        </div>
    </header>



    <header id="header-silog" *ngIf="identity && identity.nombre">
        
        <ul>
            <li><a [routerLink]="['/inicio']">Inicio</a></li>
            <li><a [routerLink]="['/transporte']">Transporte</a></li>
            <li><a [routerLink]="['/eventos']">Eventos</a></li>
            <li><a [routerLink]="['/mantenimiento']">Mantenimiento</a></li>
            <li></li> 
        </ul>
        <p>
            <img width="20px" src="{{url + 'user/avatar/' + identity.imagen}}" />
            {{identity.nombre + ' ' + identity.apellidos}}</p>
             <p [routerLink]="['/perfil']">Perfil</p>
             <p [routerLink]="['/logout/1']">cerrar sesion</p>
    </header>
    
    
    <router-outlet></router-outlet>
</main>


