
<article class="eventos" *ngIf="eventos">
	<div class="title-array">
		<h2>Solicitudes de Eventos</h2>
		<p [routerLink]="['/eventos']">Ver Todos</p>
	</div>

	<div> 
		<app-card *ngFor="let evento of eventos" [evento]="evento"></app-card>
	</div>
</article>

<article class="mantenimiento" *ngIf="mantenimientos">
	<div class="title-array">
		<h2>Solicitudes de Mantenimiento</h2>
		<p [routerLink]="['/mantenimiento']">Ver Todos</p>
	</div>

	<div>
		<app-card *ngFor="let mantenimiento of mantenimientos" [mantenimiento]="mantenimiento"></app-card>
		
	</div>
</article>

<article class="salidas" *ngIf="salidas">
	<div class="title-array">
		<h2>Solicitudes de Salidas</h2>
		<p [routerLink]="['/salidas']">Ver Todos</p>
	</div>

	<div>
		<app-card *ngFor="let salida of salidas" [salida]="salida"></app-card>
		
	</div>
</article>

<article class="salidas" *ngIf="vehiculos">
	<div class="title-array">
		<h2>Vehículos</h2>
		<p [routerLink]="['/transportes']">Ver Todos</p>
	</div>

	<div>
		<app-card *ngFor="let vehiculo of vehiculos" [vehiculo]="vehiculo"></app-card>
		
	</div>
</article>

<article class="salidas" *ngIf="departamentos">
	<div class="title-array">
		<h2>Departamentos</h2>
		<p [routerLink]="['/departamentos']">Ver Todos</p>
	</div>

	<div>
		<app-card *ngFor="let departamento of departamentos" [departamento]="departamento"></app-card>

	</div>
</article>