.textarea{
    background-color: #D8CACA;
    background-color: transparent;
	box-sizing: border-box;
	width: 100%;
    height: 13em;
    padding-top: .3em;
    font-size: 1.2em;
    font-weight: normal;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #b4aaaa;
    white-space: nowrap;    

    &:focus{
    	border-color: black;

    }    

    &:placeholder{
    	color: gray;

    }    

    &:error{
    	border-color: red;


    }

}


