<main class="body-create">

    <app-banner-crear [titulo]="textoCrear"></app-banner-crear>

    <article>
        <ngx-spinner bdColor="rgba(44,43,43,0.8)" size="default" color="#d36969" type="timer">
            <p style="color: white"> Cargando datos... </p>
        </ngx-spinner>


        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

            <article class="requeridos">

                <label>
                    <p class="label">Usuario seleccionado:</p>
                    <select formControlName="usuario_id" appInput>
                        <option selected>Selecciona un usuario:</option>
                        <option *ngFor="let user of users" value="{{user.id}}">
                            {{user.name}} {{user.surname}}</option>
                    </select>
                    <div
                        *ngIf="this.form.get('usuario_id').invalid && (this.form.get('usuario_id').dirty || this.form.get('usuario_id').touched)">

                        <div *ngIf="this.form.get('usuario_id').errors.required">
                            El usuario es requerido.
                        </div>
                    </div>
                </label>

                <label>
                    <p class="label">Departamento perteneciente:</p>
                    <select formControlName="departamento_id" appInput>
                        <option selected>Selecciona un departamento:</option>
                        <option *ngFor="let departamento of departamentos" value="{{departamento.id}}">
                            {{departamento.departamento}}</option>
                    </select>
                    <div
                        *ngIf="this.form.get('departamento_id').invalid && (this.form.get('departamento_id').dirty || this.form.get('departamento_id').touched)">

                        <div *ngIf="this.form.get('departamento_id').errors.required">
                            El departamento es requerido.
                        </div>
                    </div>
                </label>

                <label>
                    <p class="label">Cargo a ocupar:</p>
                    <select formControlName="cargo_id" appInput>
                        <option selected>Selecciona un cargo:</option>
                        <option *ngFor="let cargo of cargos" value="{{cargo.id}}">
                            {{cargo.cargo}}</option>
                    </select>
                    <div
                        *ngIf="this.form.get('cargo_id').invalid && (this.form.get('cargo_id').dirty || this.form.get('cargo_id').touched)">

                        <div *ngIf="this.form.get('cargo_id').errors.required">
                            El cargo es requerido.
                        </div>
                    </div>
                </label>


                <label>
                    <input type="submit" class="btn" appSubmit [disabled]="form.invalid" value="Crear permiso">
                </label>

            </article>

        </form>


    </article>
</main>