<main class="body-create">

    <app-banner-crear [titulo]="textoCrear"></app-banner-crear>

    <article>
        <ngx-spinner bdColor="rgba(44,43,43,0.8)" size="default" color="#d36969" type="timer">
            <p style="color: white"> Cargando datos... </p>
        </ngx-spinner>


        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

            <article class="requeridos">

                <label>
                    <p class="label">Nombre del departamento:</p>
                    <input type="text" appInput formControlName="departamento" placeholder="Nombre del departamento..">
                    <div
                        *ngIf="this.form.get('departamento').invalid && (this.form.get('departamento').dirty || this.form.get('departamento').touched)">

                        <div *ngIf="this.form.get('departamento').errors.required">
                            Debe seleccionar un departamento válido.
                        </div>
                    </div>
                </label>

                <label>
                    <p class="label">Numero de teléfono:</p>
                    <input type="tel" appInput formControlName="telefono" placeholder="Teléfono de contacto..">
                    <div
                        *ngIf="this.form.get('telefono').invalid && (this.form.get('telefono').dirty || this.form.get('telefono').touched)">

                        <div *ngIf="this.form.get('telefono').errors.required">
                            Debe seleccionar un teléfono válido.
                        </div>

                    </div>
                </label>


                <label>
                    <p class="label">Correo electrónico:</p>
                    <input type="text" appInput formControlName="correo" placeholder="correo de contacto...">
                    <div
                        *ngIf="this.form.get('correo').invalid && (this.form.get('correo').dirty || this.form.get('correo').touched)">

                        <div *ngIf="this.form.get('correo').errors.required">
                            El correo debe ser válido.
                        </div>

                    </div>
                </label>


                <label>
                    <p class="label">Pertenece a la subdirección:</p>
                    <select formControlName="subdireccion_id" appInput>
                        <option selected>Selecciona una subdirección:</option>
                        <option *ngFor="let subdireccion of subdirecciones" value="{{subdireccion.id}}">
                            {{subdireccion.subdireccion}}</option>
                    </select>
                    <div
                        *ngIf="this.form.get('subdireccion_id').invalid && (this.form.get('subdireccion_id').dirty || this.form.get('subdireccion_id').touched)">

                        <div *ngIf="this.form.get('subdireccion_id').errors.required">
                            La subdirección es requerida.
                        </div>
                    </div>
                </label>


                <label>
                    <input type="submit" class="btn" appSubmit [disabled]="form.invalid" value="Crear departamento">
                </label>

            </article>

        </form>


    </article>
</main>