<main class="body-create">

	<app-banner-crear [titulo]="textoCrear"></app-banner-crear>

	<article>
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
			<app-status style="grid-column: 1/3" *ngIf="status" [status]="status"></app-status>

			<article class="requeridos">

				<label id="titulo">
					<p class="label">tipo:</p>
					<select type="text" formControlName="tipo">
						<option>interno</option>
						<option>externo</option>
					</select>
					<div
						*ngIf="this.form.get('tipo').invalid && (this.form.get('tipo').dirty || this.form.get('tipo').touched)">

						<div *ngIf="this.form.get('tipo').errors.required">
							debes selecciona una opcion.
						</div>

					</div>

				</label>

				<label>
					<p class="label">asignado a:</p>
					<select type="text" formControlName="asignado_a">
						<option>interno</option>
						<option>externo</option>
					</select>

					<div
						*ngIf="this.form.get('asignado_a').invalid && (this.form.get('asignado_a').dirty || this.form.get('asignado_a').touched)">

						<div *ngIf="this.form.get('asignado_a').errors.required">
							debes seleccionar una opcion.
						</div>

					</div>

				</label>

				<label>
					<p class="label">trabajo realizado:</p>
					<input type="text" appInput formControlName="trabajo_realizado" placeholder="trabajo realizado">
					<div
					*ngIf="this.form.get('trabajo_realizado').invalid && (this.form.get('trabajo_realizado').dirty || this.form.get('trabajo_realizado').touched)">

					<div *ngIf="this.form.get('trabajo_realizado').errors.required">
						debes escribir algo.
					</div>

				</div>
				</label>

				<label>
					<p class="label">servicio:</p>
					<select type="text" formControlName="servicio_id">
						<option id="seleccionado" selected>selecciona un servicio:</option>
						<option *ngFor="let statusorder of statusorders" value="{{statusorder.id}}">
							{{statusorder.status}}
						</option>
					</select>
					<div
					*ngIf="this.form.get('servicio_id').invalid && (this.form.get('servicio_id').dirty || this.form.get('servicio_id').touched)">

					<div *ngIf="this.form.get('servicio_id').errors.required">
						debes seleccionar una opcion.
					</div>

				</div>
				</label>

				<label>
					<p class="label">departamento solicitante:</p>
					<select type="text" formControlName="depto_solicitante">
						<option id="seleccionado" selected>selecciona un lugar:</option>
						<option *ngFor="let departamento of departamentos" value="{{departamento.id}}">
							{{departamento.departamento}}
						</option>
					</select>
					<div
					*ngIf="this.form.get('depto_solicitante').invalid && (this.form.get('depto_solicitante').dirty || this.form.get('depto_solicitante').touched)">

					<div *ngIf="this.form.get('depto_solicitante').errors.required">
						debes seleccionar un departamento.
					</div>

				</div>
				</label>


				<label>
					<p class="label">fecha de realizacion:</p>
					<input type="date" appInput placeholder="selecciona una fecha" formControlName="fecha">
					<div
						*ngIf="this.form.get('fecha').invalid && (this.form.get('fecha').dirty || this.form.get('fecha').touched)">

						<div *ngIf="this.form.get('fecha').errors.required">
							debes seleccionar una fecha
						</div>

					</div>
				</label>

				<label>
					<p class="label">hora de comienzo:</p>
					<input type="time" appInput formControlName="hora_inicio">
					<div
						*ngIf="this.form.get('hora_inicio').invalid && (this.form.get('hora_inicio').dirty || this.form.get('hora_inicio').touched)">

						<div *ngIf="this.form.get('hora_inicio').errors.required">
							debes seleccionar una hora.
						</div>

					</div>
				</label>

				<label>
					<p class="label">hora de finalizacion:</p>
					<input type="time" appInput formControlName="hora_final">
				
				<div
				*ngIf="this.form.get('hora_final').invalid && (this.form.get('hora_final').dirty || this.form.get('hora_final').touched)">

				<div *ngIf="this.form.get('hora_final').errors.required">
					elige una hora.
				</div>

			</div>
		</label>

			</article>

			<label class="titulo-opcional">
				<p class="label">datos opcionales:</p>
				<p>estos datos puedes dejarlos vacios y mas tarde rellenarlos.</p>
			</label>

			<article class="opcionales">
				<label>
					<p class="label">equipo de proteccion personal:</p>
					<textarea type="text" formControlName="equipo_proteccion" appTextarea
						placeholder="elige un equipo de proteccion">
				</textarea>
				</label>
			</article>



			<article class="seccion-submit">
				<label *ngIf="!loading">
					<input type="submit" class="btn" appSubmit [disabled]="form.invalid" value="Crear Solicitud">
				</label>

				<label class="loading" *ngIf="loading">
					espere un momento...
				</label>

				<p class="aviso">
					Las solicitudes que estes creando seran revisadas y se mantendran en estado "pendiente" hasta que la
					junta administrativa revise y decida aceptar la solicitud.
				</p>

			</article>

		</form>
	</article>
</main>