.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    max-width: 100vw;
    font-size: 1.5em;
    background-color: #DA2643;
    background-color: #393939;
    color: #E9E3E3;

    @media (max-width: 650px){


    }


}