
<article *ngIf="evento"  [routerLink]="['/eventos/'+ evento.id]">
        <section class="replace">{{evento.evento}}</section>
        <section>{{evento.status}}</section>
</article>

<article *ngIf="mantenimiento"  [routerLink]="['/mantenimiento/'+ mantenimiento.id]">
    <section class="replace">{{mantenimiento.trabajo_realizado}}</section>
    <section>{{mantenimiento.status}}</section>
</article>

<article *ngIf="salida" [routerLink]="['/salidas/'+ salida.id]">
    <section *ngIf="salida.destino"class="replace">{{salida.destino}}</section>
    <section *ngIf="!salida.destino">Aun no hay un destino.</section>
    <section>{{salida.status}}</section>
</article>
 
<article *ngIf="vehiculo" [routerLink]="['/vehiculo/'+ vehiculo.id]">
    <section *ngIf="vehiculo.vehiculo"class="replace">{{vehiculo.vehiculo}}</section>
    <section>{{vehiculo.status}}</section>
</article>

<article *ngIf="departamento" [routerLink]="['/departamentos/'+ departamento.id]">
    <section *ngIf="departamento.departamento"class="replace">{{departamento.departamento}}</section>
    <section>{{departamento.telefono}}</section>
</article>
