
<article *ngIf="evento"  [routerLink]="['/eventos/'+ evento.id]">
        <section class="replace">{{evento.evento}}</section>
        <section  [className]="evento.status == 'aprobado' || evento.verificado == true ? 'replace aprobado' : 'replace'">{{evento.status}}</section>
</article>

<article *ngIf="mantenimiento"  [routerLink]="['/mantenimiento/'+ mantenimiento.id]">
    <section class="replace">{{mantenimiento.trabajo_realizado}}</section>
    <section [className]="mantenimiento.status == 'aprobado' || mantenimiento.verificado == true ? 'replace aprobado' : 'replace'">{{mantenimiento.status}}</section>
</article>

<article *ngIf="salida" [routerLink]="['/salidas/'+ salida.id]">
    <section *ngIf="salida.destino"class="replace">{{salida.destino}}</section>
    <section *ngIf="!salida.destino">Aun no hay un destino.</section>
    <section [className]="salida.status == 'aprobado' || salida.verificado == true ? 'replace aprobado' : 'replace'">{{salida.status}}</section>
</article>
 
<article *ngIf="vehiculo" [routerLink]="['/vehiculo/'+ vehiculo.id]">
    <section *ngIf="vehiculo.vehiculo"class="replace">{{vehiculo.vehiculo}}</section>
    <section>{{vehiculo.status}}</section>
</article>

<article *ngIf="departamento" [routerLink]="['/departamentos/'+ departamento.id]">
    <section *ngIf="departamento.departamento"class="replace">{{departamento.departamento}}</section>
    <section>{{departamento.subdireccion.subdireccion}}</section>
</article>

<article *ngIf="cargo" [routerLink]="['/cargos/editar/'+ cargo.id]">
    <section *ngIf="cargo.cargo"class="replace">{{cargo.cargo}}</section>
    <section>editar cargo</section>
</article>

<article class="permiso" *ngIf="permiso" [routerLink]="['/permisos/editar/'+ permiso.id]">
    <section *ngIf="permiso.user"class="replace">{{permiso.user.name}} {{permiso.user.surname}}</section>
    <section>{{permiso.departamento.departamento}}</section>
    <section *ngIf="permiso.cargo.cargo">{{permiso.cargo.cargo}}</section>
    <section>editar permiso</section>
</article>

<article *ngIf="subdireccion" [routerLink]="['/subdirecciones/editar/'+ subdireccion.id]">
    <section *ngIf="subdireccion.subdireccion"class="replace">{{subdireccion.subdireccion}}</section>
    <section>editar cargo</section>
</article>
 
<article *ngIf="statusvehiculo" [routerLink]="['/vehiculo/status/editar/'+ statusvehiculo.id]">
    <section *ngIf="statusvehiculo.status"class="replace">{{statusvehiculo.status}}</section>
    <section>editar status</section>
</article>

<article *ngIf="statusorder" [routerLink]="['/status/mantenimiento/editar/'+ statusorder.id]">
    <section *ngIf="statusorder.status"class="replace">{{statusorder.status}}</section>
    <section>editar status</section>
</article>

<article *ngIf="espacio" [routerLink]="['/espacios/editar/'+ espacio.id]">
    <section *ngIf="espacio.espacio"class="replace">{{espacio.espacio}}</section>
    <section>editar espacio</section>
</article>

<article *ngIf="ubicacion" [routerLink]="['/ubicaciones/editar/'+ ubicacion.id]">
    <section *ngIf="ubicacion.ubicacion"class="replace">{{ubicacion.ubicacion}}</section>
    <section>editar ubicacion</section>
</article>




