<main class="body-create">

	<app-banner-crear [titulo]="textoCrear"></app-banner-crear>

	<article>
		<ngx-spinner bdColor = "rgba(44,43,43,0.8)" size = "default" color = "#d36969" type = "timer" >
            <p style="color: white" > Cargando datos... </p>
    </ngx-spinner>
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

			<article class="requeridos">
				
				<label id="titulo">
					<p class="label">Evento:</p>
					<input type="text" formControlName="evento" appInput>
					<div
					*ngIf="this.form.get('evento').invalid && (this.form.get('evento').dirty || this.form.get('evento').touched)">

					<div *ngIf="this.form.get('evento').errors.required">
						Debe seleccionar un Vehículo.
					</div>

				</div>
				</label>

				<label>
					<p class="label">Locación elegida:</p>
					<select name="lugar_id" type="text" formControlName="espacio_id">
						<option id="seleccionado" selected>Selecciona un lugar:</option>
						<option *ngFor="let espacio of espacios" value="{{espacio.id}}">
							{{espacio.espacio}}
						</option>

					</select>
					<div
					*ngIf="this.form.get('espacio_id').invalid && (this.form.get('espacio_id').dirty || this.form.get('espacio_id').touched)">

					<div *ngIf="this.form.get('espacio_id').errors.required">
						Debe seleccionar una opción.
					</div>

				</div>
				</label>

				<label>
					<p class="label">Departamento solicitante:</p>
					<select name="lugar_id" type="text" formControlName="depto_solicitante">
						<option id="seleccionado" selected>Selecciona un departamento:</option>
						<option *ngFor="let departamento of departamentos" value="{{departamento.id}}">
							{{departamento.departamento}}
						</option>

					</select>

					<div
					*ngIf="this.form.get('depto_solicitante').invalid && (this.form.get('depto_solicitante').dirty || this.form.get('depto_solicitante').touched)">

					<div *ngIf="this.form.get('depto_solicitante').errors.required">
						Debe seleccionar un departamento.
					</div>

				</div>
				</label>

				<label>
					<p class="label">Fecha de realización:</p>
					<input type="date" appInput placeholder="selecciona una fecha" formControlName="fecha">
					<div
					*ngIf="this.form.get('fecha').invalid && (this.form.get('fecha').dirty || this.form.get('fecha').touched)">

					<div *ngIf="this.form.get('fecha').errors.required">
						Debe seleccionar un Vehículo.
					</div>

				</div>
				</label>

				<label>
					<p class="label">Hora de comienzo:</p>
					<input type="time" appInput formControlName="hora_inicio">
					<div
					*ngIf="this.form.get('hora_inicio').invalid && (this.form.get('hora_inicio').dirty || this.form.get('hora_final').touched)">

					<div *ngIf="this.form.get('hora_inicio').errors.required">
						Debe seleccionar una hora.
					</div>

				</div>
				</label>

				<label>
					<p class="label">Hora de finalización:</p>
					<input type="time" appInput formControlName="hora_final">
					<div
					*ngIf="this.form.get('hora_final').invalid && (this.form.get('hora_final').dirty || this.form.get('hora_final').touched)">

					<div *ngIf="this.form.get('hora_final').errors.required">
						Debe seleccionar una hora.
					</div>

				</div>
				</label>

			</article>

			
			<label class="titulo-opcional">
				<p class="label">Datos opcionales:</p>
				<p>Estos datos puede dejarlos vacíos y mas tarde rellenarlos.</p>
			</label>

			<article class="opcionales">
				<label>
					<p class="label">Actividades a realizar:</p>
					<textarea type="text" appTextarea formControlName="actividades" placeholder="contenido de la solicitud" >
					</textarea>
				</label>

			</article>


			<article class="seccion-submit">
				<label *ngIf="!loading">
					<input type="submit" class="btn" appSubmit [disabled]="form.invalid" value="Actualizar Solicitud">
				</label>

				<p class="aviso">
					Las solicitudes que esté creando serán revisadas y se mantendrán en estado "pendiente" hasta que la junta administrativa revise y decida aceptar la solicitud.
				</p>

			</article>



		</form>
	</article>
</main>