<main class="body-solicitudes">

    <app-banner-crear [titulo]="textoCrear"></app-banner-crear>

    <ngx-spinner bdColor = "rgba(44,43,43,0.8)" size = "default" color = "#d36969" type = "timer" >
        <p style="color: white" > cargando datos... </p>
    </ngx-spinner>

    <app-card-grid [statusorders]="statusorders"></app-card-grid>

    <div class="filtrado">
        <h2>filtrar status de solicitudes por: </h2>
        <select appInput>
            <option>selecciona:</option>
            <option>mas recientes</option>

        </select>      
    </div>

    <div class="pagination">
        <div>
            <P>PAGINA ANTERIOR</P>
            <p>pagina 1 de 1</p>
            <P>PAGINA SIGUIENTE</P>
        </div>
    </div>

    <app-stats></app-stats>
        

</main>