<main class="body-editUser">


	<app-banner-crear [titulo]="title" ></app-banner-crear>


	<article >
		<form #UserEditForm="ngForm" (ngSubmit)="onSubmit(UserEditForm)" >
			<label>
				<p class="label">Nombre:</p>
				<input type="text" name="nombre" appInput #nombre="ngModel" [(ngModel)]="user.nombre" 
				required pattern="[a-zA-Z]+"  />

			</label>
			<label>
				<p class="label">Apellidos:</p>
				<input type="text" name="apellidos" appInput #apellidos="ngModel" [(ngModel)]="user.apellidos" 
				required pattern="[a-zA-Z]+"  />

			</label>
			<label>
				<p class="label">Correo electronico:</p>
				<input type="email" appInput name="correo" #correo="ngModel" [(ngModel)]="user.correo" 
				required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" />
			</label>
			<label>
				<p class="label">informacion sobre mi:</p>
				<textarea type="text" appTextarea name="descripcion" #descripcion="ngModel" [(ngModel)]="user.descripcion" 
				required>
				</textarea>
			</label>

			<label>
				<p class="label">numero de telefono:</p>		
				<input type="tel" pattern="[0-9]{10}" appInput name="telefono" #telefono="ngModel" [(ngModel)]="user.telefono"  />
			</label>


			<label class="select">
					<p class="label">selecciona tu departamento:</p>
					<select  name="departamento" #departamento="ngModel" [(ngModel)]="user.departamento_id"   required>
						<option selected>selecciona un departamento</option>
						<option *ngFor="let departamento of departamentos" [value]="user.departamento_id">
							{{departamento.nombre}}

						</option>

					</select>
			</label>

			<label>
				<p class="label">foto de perfil:</p>
					<div class="avatar" *ngIf="identity && identity.imagen">
						<img *ngIf="identity.imagen" src="{{url + 'user/avatar/' + identity.imagen}}" />
					</div>

					<div class="avatar" *ngIf="!identity.imagen && user.imagen">
						<img  src="{{url + 'user/avatar/' + user.imagen}}" />
					</div>

					<div class="avatar" *ngIf="!user.imagen && !identity.imagen">
						<img *ngIf="!identity.imagen" src="../../../assets/img/default_profile.png" />
					</div>
			</label>

			<label class="label-upload">
				<p class="label">Cambia tu foto de perfil:</p>
				
					<angular-file-uploader  
						[config]="afuConfig"
						[resetUpload]=resetVar
						(ApiResponse)="avatarUpload($event)" class="file">
					</angular-file-uploader>
				
			</label>


			<label>
				<input type="submit" class="btn" appSubmit value="Guardar cambios"  [disabled]="UserEditForm.invalid"/>
			</label>
			<app-status style="grid-column: 1/3" *ngIf="status" [status]="status"></app-status>
		</form>
	</article>
</main>