<main class="body-editUser">


	<app-banner-crear [titulo]="title" ></app-banner-crear>


	<article>
		<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" >
			<label>
				<p class="label">Nombre:</p>
				<input type="text" appInput formControlName="name"  />

			</label>
			<label>
				<p class="label">Apellidos:</p>
				<input type="text" appInput formControlName="surname" />

			</label>
			<label>
				<p class="label">Correo electronico:</p>
				<input type="email" appInput formControlName="email" />
			</label>
			<label>
				<p class="label">informacion sobre mi:</p>
				<textarea type="text" appTextarea formControlName="description" >
				</textarea>
			</label>

			<label>
				<p class="label">numero de telefono:</p>		
				<input type="tel"  appInput formControlName="phone" />
			</label>

			<label>
				<p class="label">foto de perfil:</p>
					<div class="avatar" *ngIf="identity.image">
						<img *ngIf="identity.image" src="{{url + 'avatar/' + identity.image}}" />
					</div>

					<div class="avatar" *ngIf="identity.image">
						<img  src="{{url + 'avatar/' + identity.image}}" />
					</div>

					<div class="avatar" *ngIf="!identity.image">
						<img *ngIf="!identity.image" src="../../../assets/img/default_profile.png" />
					</div>
			</label>

			<label class="label-upload">
				<p class="label">Cambia tu foto de perfil:</p>
				
					<angular-file-uploader  
						[config]="afuConfig"
						[resetUpload]=resetVar
						(ApiResponse)="avatarUpload($event)" class="file">
					</angular-file-uploader>
				
			</label>


			<label>
				<input type="submit" class="btn" appSubmit value="Guardar cambios"  [disabled]="form.invalid"/>
			</label>
			<app-status style="grid-column: 1/3" *ngIf="status" [status]="status"></app-status>
		</form>
	</article>
</main>