<main class="body-calendario">

    <app-banner-crear [titulo]="textoCrear"></app-banner-crear>

    <ngx-spinner bdColor = "rgba(44,43,43,0.8)" size = "default" color = "#d36969" type = "timer" >
        <p style="color: white" > Cargando datos... </p>
    </ngx-spinner>

    <div id="calendario">
        <h2>Consulte las solicitudes por mes</h2>
        <div class="header_calendar">
            <button (click)="prevMonth()">&lt;</button>
            <p>{{mesActual}}</p>
            <button (click)="nextMonth()">></button>
            <span *ngFor="let day of daysOfWeek">{{day}}</span>
        </div>
        <div class="box_calendar">
            <span *ngFor="let day of daysMonth" (click)="dayClick(day)">
                <span class="number">{{day}}</span>
                <span *ngIf="eventoNumbers && evaluateEventoDay(day)" class="event">Evento</span>
                <span *ngIf="mantenimientoNumbers && evaluateMantenimientoDay(day)" class="mante">Mantenim.</span>
                <span *ngIf="salidaNumbers && evaluateSalidaDay(day)" class="sal">Salida</span>
            </span>
        </div>

    </div>

    <div id="cards">
        <h2>Solicitudes pendientes para el dia seleccionado:</h2>
        <div>
            <p *ngIf="!eventosDay && !mantenimientosDay && !salidasDay">Seleccione un dia para ver las solicitudes pendientes</p>
            <p *ngIf="salidaResult == 0 && eventoResult == 0 && mantenimientoResult == 0">Este dia no tiene ninguna solicitud asignada.</p>
            <app-card *ngFor="let ev of eventosDay" [evento]="ev"></app-card>
            <app-card *ngFor="let ma of mantenimientosDay" [mantenimiento]="ma"></app-card>
            <app-card *ngFor="let sa of salidasDay" [salida]="sa"></app-card>
        </div>
    </div>

    <div id="stats">
        <h2>Estadisticas del mes de {{mesActual}}</h2>
        <div class="statsLeft">
            <ul>
                <li>POR STATUS DE SOLICITUD</li>
                <li>Solicitudes verificadas: <span>{{statVerificadas}} </span></li>
                <li>Solicitudes aprobadas: <span>{{statAprobadas}}</span> </li>
                <li>Solicitudes pendientes: <span>{{statPendientes}}</span>  </li>
            </ul>
        </div>
        <div class="statsRight">
            <ul>
                <li>POR TIPO DE SOLICITUD</li>
                <li>Solicitudes de eventos: <span>{{statEvento}}</span> </li>
                <li>Solicitudes de salidas: <span>{{statSalida}}</span></li>
                <li>Solicitudes de mantenimiento: <span>{{statMantenimiento}}</span> </li>
            </ul>
        </div>
        <div class="statsBottom">
            <ul>
                <li>SOLICITUDES EN TOTAL</li>
                <li><span>{{statTotal}}</span></li>
            </ul>
        </div>


    </div>


</main>