
.body-inicio{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 16em 1fr 6em;
	grid-gap: 1em;
	min-width: 100vw;
	overflow-x: hidden;


	.banner{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color:  #393939;
		color: #E9E3E3;

		h1{
			font-size: 1.5em;
		}

		p{
			display: flex;
			justify-content: center;
			text-align: center;
			height: 2.8em;
			width: 9em;
			background-color: white;
			border-radius: 10px;
			font-size: 1.1em;
			grid-gap: 2em;
			margin-top: 1em;

			a{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				color: #DA2643;
			}
		}
	}

	.contenido{
		display: grid;
		grid-template-columns: .2fr 1fr .2fr;
		grid-template-rows: 3em 1fr 1fr 1fr;
		grid-gap: 1em;
		

		h1{
			grid-column: 2/3;
			grid-row: 1/2;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.eventos, .mantenimiento, .salidas{
			grid-column: 2/3;
			display: grid;
			grid-template-columns: 6em 1fr;
			grid-template-rows: 1fr;
			grid-gap: 1em;

		}

		.eventos{
			grid-row: 2/3;


		}

		.mantenimiento{
			grid-row: 3/4;

		}

		.salidas{
			grid-row:4/5;

		}

	}


}