
.body-inicio{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 16em 1fr 6em;
	grid-gap: 1em;
	min-width: 100vw;
	overflow-x: hidden;


	.banner{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color:  #393939;
		color: #E9E3E3;

		h1{
			font-size: 1.5em;
		}

		p{
			display: flex;
			justify-content: center;
			text-align: center;
			height: 2.8em;
			width: 9em;
			background-color: #9f6d6d59;
			border-radius: 10px;
			font-size: 1.2em;
			grid-gap: 2em;
			margin-top: 1em;

			a{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				color: white;
			}
		}
	}
 
	.contenido{
		display: grid;
		grid-template-columns: .1fr 1fr .1fr;
		grid-template-rows: 3em 1fr 1fr 1fr;
		grid-gap: 2em;
		
		
		h1{
			grid-column: 2/3;
			grid-row: 1/2;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2em;

			margin: 1px;

font-weight: bold;
width: 100%;
background:rgb(255, 246, 120) ;
border:1px solid #000000;
		
		}

		.eventos, .mantenimiento, .salidas{
			grid-column: 2/3;
			display: grid;
			grid-template-columns: 14em 1fr;
			grid-template-rows: 1fr;
			grid-gap: 2em;
			background-color: transparent;
			border-radius: 5px;
			min-height: 15em;
			background-color: rgb(250, 250, 250) ;
			
  

			.title-array{
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr .4fr;
				padding: 1em;
				cursor: pointer;

				h2{
					text-align: center;
					font-size: 1.7em;
					
				    cursor: pointer;
				}

				p{
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 1.3em;
					background-color: #b0001930;
					border-radius: 5px;
					cursor: pointer;
				}
			}
			div{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-rows: 1fr;
				grid-gap: 1em;
				padding: 1em;
				overflow: hidden;
				background-color: transparent;

				article{
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 2em;
					padding: 1em;
					border-radius: 5px;
					grid-gap: 1em;
					background-color: #ecd1b9;

					&:hover{
						transition: background-color .4s;
						background-color: #ecc6a4;
						cursor: pointer;
					}

					section{

						&:first-child{
							grid-column: 1/span 2;
							grid-row: 1/2;
							font-size: 1.2em;
							display: flex;
							justify-content: center;
							align-items: center;
							
						}

						&:nth-child(2), &:nth-child(3){

							display: flex;
							justify-content: center;
							align-items: center;
							background-color: #605b5b4f;
							border-radius: 5px;
						}

						&:last-child{
							background-color: #00acc84f;
							border-radius: 5px;
						}
					}
				}

				.loading{
					grid-column: 1/span 4;
					grid-row: 1/2;
					display: flex;
					justify-content: center;
					align-items: center;
				}

			
			}

		}

		.eventos{
			grid-row: 2/3;


		}

		.mantenimiento{
			grid-row: 3/4;

		}

		.salidas{
			grid-row:4/5;

		}

	}


}