
<main class="body-inicio">
	<div class="banner">
		<h1>{{title}}</h1>
		<p><a [routerLink]="['/perfil/solicitudes']">Ver mis solicitudes</a></p>
	</div>

	<div class="contenido">
			<h1>solicitudes mas recientes</h1>

		<article class="eventos">
			<h2>solciitudes de eventos</h2>
			<div></div>
		</article>

		<article class="mantenimiento">
			<h2>solicitudes de mantenimiento</h2>
			<div></div>

		</article>

		<article class="salidas">
			<h2>solicitudes de salidas</h2>
			<div></div>

		</article>
		
	</div>


</main>
