<article class="information" *ngIf="evento">
    <section>Actividades realizadas:</section>
    <section class="description"  *ngIf="evento.actividades">{{evento.actividades}}</section>
    <section class="description"  *ngIf="!evento.actividades">No hay actividades especificadas aun.</section>
    <section>Fecha de realizacion:</section>
    <section>Se lleva a cabo el {{fecha}}</section>
    <section>Horario:</section>
    <section>Empieza a las {{evento.hora_inicio}} y termina a las {{evento.hora_final}}</section>
    <section [className]="evento.status == 'aprobado' || evento.verificado == true ? 'aprobado' : 'pendiente'">{{evento.status}}</section>
</article>
  
<article class="information" *ngIf="mantenimiento">
    <section>Actividades realizadas:</section>
    <section class="description"  *ngIf="mantenimiento.trabajo_realizado">{{mantenimiento.trabajo_realizado}}</section>
    <section class="description"  *ngIf="!mantenimiento.trabajo_realizado">No hay actividades especificadas aun.</section>
    <section>Fecha de realizacion:</section>
    <section>Se lleva a cabo el {{fecha}}</section>
    <section>Horario:</section>
    <section>Empieza a las {{mantenimiento.hora_inicio}} y termina a las {{mantenimiento.hora_final}}</section>
    <section [className]="mantenimiento.status == 'aprobado' || mantenimiento.verificado == true ? 'aprobado' : 'pendiente'">{{mantenimiento.status}}</section>
</article>

<article class="information" *ngIf="salida">
    <section>Descripcion de las actividades:</section>
    <section class="description"  *ngIf="salida.descripcion">{{salida.descripcion}}</section>
    <section class="description"  *ngIf="!salida.descripcion">No hay actividades especificadas aun.</section>
    <section>Fecha de realizacion:</section>
    <section>Se lleva a cabo el {{fecha}}</section>
    <section>Horario:</section>
    <section>Empieza a las {{salida.hora_salida}} y termina a las {{salida.hora_llegada}}</section>
    <section [className]="salida.status == 'aprobado' || salida.verificado == true ? 'aprobado' : 'pendiente'">{{salida.status}}</section>
</article>

<article class="information" *ngIf="vehiculo">
    <section>Marca del vehiculo:</section>
    <section class="description">{{vehiculo.marca}}</section>
    <section>Placas del vehiculo</section>
    <section>{{vehiculo.placas}}</section>
    <section>Estado del vehiculo</section>
    <section>{{vehiculo.kilometraje}}</section>
    <section>{{vehiculo.status_id}}</section>
</article>

<article class="information" *ngIf="departamento">
    <section>Descripcion de las actividades:</section>
    <section class="description">Descripcion del departamento y sus actividades realizadas.</section>
    <section>Numero de telefono:</section>
    <section>{{departamento.telefono}}</section>
    <section>Correo electronico:</section>
    <section>{{departamento.correo}}</section>
    <section>Pertenece a la subdireccion {{departamento.subdireccion.subdireccion}}</section>
</article>

