<div id="Registro-form">

	<div id="Contenedor-formulario">
		<ngx-spinner bdColor = "rgba(44,43,43,0.8)" size = "default" color = "#d36969" type = "timer" >
            <p style="color: white" > Cargando datos... </p>
    </ngx-spinner>

		<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
			<div><img src="../assets/img/logo.png" alt="logo" /></div>
			<h2>{{title}}</h2>
			<label>
				<input type="text" appInput formControlName="name" placeholder="introduce tu nombre..." />

				<div
					*ngIf="this.form.get('name').invalid && (this.form.get('name').dirty || this.form.get('name').touched)">

					<div class="errors" *ngIf="this.form.get('name').errors.minLenght">
						El nombre debe contener al menos 3 caracteres.
					</div>

					<div class="errors" *ngIf="this.form.get('name').errors.required">
						El nombre es obligatorio.
					</div>

				</div>
			</label>

			<label>
				<input type="text" appInput formControlName="surname" pattern="[a-zA-Z]+"
					placeholder="introduce tu apellido..." />

				<div
					*ngIf="this.form.get('surname').invalid && (this.form.get('surname').dirty || this.form.get('surname').touched)">

					<div *ngIf="this.form.get('surname').errors.minLenght">
						Su nombre debe contener al menos 3 caracteres.
					</div>

					<div *ngIf="this.form.get('surname').errors.required">
						Los apellidos son obligatorio.
					</div>

				</div>
			</label>

			<label class="email">
				<input type="email" appInput formControlName="email" placeholder="introduce un correo electronico..." />

				<div
					*ngIf="this.form.get('email').invalid && (this.form.get('email').dirty || this.form.get('email').touched)">

					<div *ngIf="this.form.get('email').errors.email">
						No ha escrito un correo electrónico válido.
					</div>

					<div *ngIf="this.form.get('email').errors.required">
						Debe introducir su correo.
					</div>

				</div>

			</label>

			<label>
				<input type="text" appInput formControlName="control_number"
					placeholder="introduce tu numero de empleado..." />

				<div
					*ngIf="this.form.get('control_number').invalid && (this.form.get('control_number').dirty || this.form.get('control_number').touched)">

					<div *ngIf="this.form.get('control_number').errors.minLenght">
						El número de control debe tener al menos 3 digitos.
					</div>

					<div *ngIf="this.form.get('control_number').errors.required">
						El número de control es obligatorio.
					</div>

				</div>
			</label>

			<label>

				<input type="password" appInput formControlName="password" placeholder="introduce una Contraseña..." />

				<div
					*ngIf="this.form.get('password').invalid && (this.form.get('password').dirty || this.form.get('password').touched)">

					<div *ngIf="this.form.get('password').errors.minLenght">
						La contraseña debe tener al menos 5 digitos.
					</div>

					<div *ngIf="this.form.get('password').errors.required">
						La contraseña es obligatoria.
					</div>

				</div>
			</label>



			<label>

				<input type="password" appInput formControlName="repeat_password" placeholder="repita la password..." />

				<div
					*ngIf="this.form.get('repeat_password').invalid && (this.form.get('repeat_password').dirty || this.form.get('repeat_password').touched)">

					<div *ngIf="this.form.get('repeat_password').errors.minLenght">
						la password debe tener al menos 5 digitos.
					</div>

					<div *ngIf="this.form.get('repeat_password').errors.required">
						la password es obligatoria.
					</div>

				</div>
			</label>


			<label class="Btn-box">
				<input appSubmit type="submit" class="btn" value="registrarme" [disabled]="form.invalid" />
			</label>


		</form>



	</div>
</div>