#Registro-form{
    display: grid;
    grid-temaplate-columns: 1fr;
    grid-template-rows: 10em 3em 3em 1fr;
	
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8em;
            font-weight: normal;
            color: #9F3133;
        }

        .img-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 98%;


            img{
                width: 6em;
            }
        }

        .status{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div{
            display: grid;
            font-size: 20px;
            margin: 20px;
            
        }
        #Contenedor-formulario{
            display: grid;
            grid-template-columns: .7fr 1.3fr .7fr;
            grid-template-rows:1fr;
            margin: 30px;
            justify-content: center;
            align-items: center;

                form{
                    grid-column: 2/3;
                    grid-row:1/2;
                    display: grid;
		            grid-template-columns: 1fr 1fr;
		            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    	            justify-content: center;
    	            align-items: center;
		            font-size: 1.2em;
                    grid-gap: 1em;

                    .Btn-box{
                        grid-column: 1/3;
                        grid-row: 5/ 6;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
  
                        } 
                    }

                    p{
                        display: grid;
                        align-items:center;
                        height: 2em;


                        select{
                            
                            width: 98%;
                            padding: 8px;

                        }


                        label{
                            display: flex;
                            justify-content: center;
                            font-size: .8em;
                            font-weight: normal;
                            color: #9F3133;

                        }

                        small{
                            text-align: center;
                            position: absolute;
                            color: #9F3133;
                            font-size: .7em;
                            margin-top: 5em;
                           
                        }

                    }

                    .email{
                            grid-column: 1/3;
                            grid-row: 2/3;
                            width: 100%;

                        }
                    .select{
                        grid-column: 1/3;
                        grid-row: 4/5;
                        width: 100% ;

                    }

        }
        
        
        
}