
<div id="Registro-form">
	<div class="img-container"><img src="../assets/img/logo.png" alt="logo"/></div>

	<h1>{{title}}</h1>

	<div class="status" *ngIf="!status">

		**Registrate en el sistema si no tienes una cuenta actualmente.
	</div>

	<div class="status" *ngIf="status == 'success'">
		El registro se ha completado correctamente, <a [routerLink]="['/login']">logueate aqui</a>
	</div>


	<div class="status" *ngIf="status == 'error'">
		El registro no se ha completado, intentalo mas tarde
	</div>

	<div id="Contenedor-formulario">

		<form #registerForm="ngForm"  (ngSubmit)="onSubmit(registerForm)" >
			<label>
				<p class="label">escribe tu nombre:</p>
				<input type="text" appInput name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" 
				required pattern="[a-zA-Z]+" placeholder="introduce tu nombre..." />

				
				<div *ngIf="!nombre.valid && nombre.touched">El nombre no es valido</div>
			</label>
			<label>
				<p class="label">escribe tus apellidos:</p>
				<input type="text" appInput name="apellidos" #apellidos="ngModel" [(ngModel)]="user.apellidos" 
				required pattern="[a-zA-Z]+" placeholder="introduce tu apellido..." />

				<div *ngIf="!apellidos.valid && apellidos.touched">Los apellidos no son validos</div>
			</label>
			<label class="email">
				<p class="label">escribe tu correo:</p>
				<input  type="email" appInput name="correo" #correo="ngModel" [(ngModel)]="user.correo" 
				required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" placeholder="introduce un correo electronico..." />

				<div *ngIf="!correo.valid && correo.touched">El correo no es valido</div>
			</label>

			<label>
				<p class="label">contrasena:</p>
				<input type="password" appInput name="contrasena" #contrasena="ngModel" [(ngModel)]="user.contrasena" placeholder="introduce una Contraseña..." required />
				<div *ngIf="!contrasena.valid && contrasena.touched">La contrasena no es valida</div>
			</label>
			<label>
				<p class="label">numero de control:</p>
				<input type="text" appInput name="numerocontrol" #numerocontrol="ngModel" [(ngModel)]="user.numero_control" placeholder="introduce tu numero de empleado..." required />
				<div *ngIf="!numerocontrol.valid && numerocontrol.touched">El numero de control no es valido</div>
			</label>

			<label class="select">
				<p class="label">selecciona tu departamento:</p>
				<select appInput  name="departamento" #departamento="ngModel" [(ngModel)]="user.departamento_id"   required>
					<option id="uno" selected>selecciona un departamento</option>
					<option *ngFor="let departamento of departamentos" value="{{departamento.id}}">
						{{departamento.nombre}}

					</option>

				</select>
			</label>

			<label class="Btn-box">
				<input appSubmit type="submit" class="btn" value="registrarme"  [disabled]="registerForm.invalid"/>
			</label>

		</form>
	</div>
</div>