#Registro-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10em 3em 3em 1fr;
	
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8em;
            font-weight: normal;
            color: #9F3133;
        }

        .img-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 98%;


            img{
                width: 6em;
            }
        }

        .status{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div{
            display: grid;
            font-size: 20px;
            margin: 20px;
            
        }
        #Contenedor-formulario{
            display: grid;
            grid-template-columns: .4fr 1fr .4fr;
            grid-template-rows:1fr;
            
            justify-content: center;
            align-items: center;

                form{
                    grid-column: 2/3;
                    grid-row:1/2;
                    display: grid;
		            grid-template-columns: 1fr 1fr;
		            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    	            justify-content: center;
    	            align-items: center;
		            font-size: 1em;
                    grid-gap: 1em;

                    label{
				
                        &:nth-child(3), &:nth-child(6), &:nth-child(7){
                            grid-column: 1/ span 2;
                        }
        
                        input{
                            font-size: 1em;
                            font-weight: normal;
                            height: 2.5em;
                        }
        
                        .label{
                            display: flex;
                            justify-content: center;
                            color: #9F3133;
                            font-weight: normal;
                            font-size: 1em;
                            padding-left: 0;
                        }
        
        
                        select{
                            background-color: #D8CACA;
                            width: 100%;
                            height: 2.5em;
                            font-size: 1em;
                            font-weight: normal;
                            border-radius: 10px;
                            border: 1px solid #b4aaaa;
                            padding: 0;
                        }
                        div{
                            position: absolute;
                            font-size: .7em;
                            margin-top: .5em;
                        }
                    }

         
                }
        }
        
        
        
}